.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
    text-align: left;
}
.header nav a{
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    transition: 0.3s;
}
.header nav a:hover{
    background-color: gray;
}